<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>The BallPark</title>
  </head>
  <body class="body-background">
    <%- include('../partials/_navbar.ejs') %>
    <div class="all-meetings-body">
        <div class="all-meetings-header">
    <h1 class="authheader">The BallPark</h1>
    <a class="add-post-link" href="/users/<%=user._id%>/meetings/new">Add a Post</a>
    </div>
    <ul>
      <% meetings.forEach((meeting)=>{ %>
    <a href="/users/<%= user._id %>/meetings/<%= meeting._id %>">
      <li><%= meeting.position %> <%= meeting.name %></li>
      <% }) %>
    </ul>
    </div>
  </body>
</html>