<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The BallPark</title>
  </head>
  <body>
    <h1>The BallPark</h1>
    <a href="/users/<%=user._id%>/meetings/new">Add a Post</a>
    <ul>
      <% meetings.forEach((meeting)=>{ %>
    <a href="/users/<%= user._id %>/meetings/<%= meeting._id %>">
      <li><%= meeting.position %> <%= meeting.name %></li>
      <% }) %>
    </ul>
  </body>
</html>